.lookUpStudents {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  width: 100%;
  background-color: whitesmoke;
  margin: 20px;
  border: 0.1px solid #ccc;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.1);
}
tbody td,
th {
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.enter-search-info {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.enter-info-name,
.enter-info-class,
.enter-info-block {
  display: flex;
}
.enter-search-info label {
  width: 30%;
  font-size: 18px;
}
.enter-search-info input {
  width: 70%;
  padding-left: 10px;
}
