.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-oe15 {
  background-color: #ffffff;
  border-color: #000000;
  text-align: center;
  vertical-align: middle;
}
.tg .tg-wk8r {
  background-color: #ffffff;
  border-color: #000000;
  text-align: center;
  vertical-align:middle;
}
.tg .tg-b0es {
  background-color: #ffffff;
  border-color: #000000;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}